.title {
    color:greenyellow;
    font-family: 'Merienda', cursive;
    font-family: 'Pathway Extreme', sans-serif;
    display: inline-block;
}

.images{
    
    width: auto;
    height: 200px;
    border : 100%

     
}

.whatToBring,.para,.time,.loc{

    color:white;

}

.bodyTag {
    
    background: linear-gradient(300deg,#00bfff 0%, #ff4c68 35%, #ef8172 100%);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
    margin: auto;
    padding: 5%;

}

@keyframes gradient-animation {

    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;

    }
    100% {
        background-position: 0% 50%;
    }
    
}
